<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Awesome한 계산기</title>
</head>
<body>
<h1>Awesome한 계산기</h1>

<form th:action="@{/calculate}" method="post">
    <label for="num1">Number 1:</label>
    <input type="number" step="any" id="num1" name="num1"><br>

    <label for="num2">Number 2:</label>
    <input type="number" step="any" id="num2" name="num2"><br>

    <label for="operation">연산 선택:</label>
    <select id="operation" name="operation">
        <option value="add">더하기</option>
        <option value="subtract">빼기</option>
        <option value="multiply">곱하기</option>
        <option value="divide">나누기</option>
    </select><br><br>

    <button type="submit">계산하기</button>
</form>

<div th:if="${result != null}">
    <p>결과: <span th:text="${result}"></span></p>
</div>

</body>
</html>
