<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hidden-page</title>
    <style>
        @font-face {
            font-family: 'BagelFatOne-Regular';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: 'BagelFatOne-Regular';
           background-color: pink;
        }
        h1 {
            background-color: gray;
        }
    </style>
</head>
    <body>
    <h1>으얽앍</h1>

    <h1>뭔가 숨겨진 듯한 분위기</h1>
    <script>
        alert("Hello, js!");
    </script>
</body>
</html>